.darkBg {
  background-color: rgba(0, 0, 0, 0.65); /* Darker overlay */
  width: 100vw;
  height: 100vh;
  z-index: 50;
  top: 0;
  left: 0;
  position: fixed; /* This is the key fix */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  position: relative;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal {
  width: 250px;
  background: white;
  color: #2c3e50; /* Changed for readability */
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: white;
  background: #2c3e50;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.logOutBtn, .cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    transition: all 0.25s ease;
}

.logOutBtn {
  color: #fff;
  background: #ff3e4e;
}

.cancelBtn {
  color: #fcfcfc;
  background: #2c3e50;
}